

h1, h2, h3 {
    color: #36454f;

}

h2 {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

h1 {
    font-family: 'Great Vibes', Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;	
}

p {
	font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.button {
	background-color: #EAB543; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.hr {
	border-bottom: 1px solid #36454f;
	width: 100%;
}

header {
    background-color: #F8EFBA;
	height: auto;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

header img {
    height: 220px;
	margin-right: 8vw;

}
header h2 {
    color: #36454f;
	margin-left: 8vw;
}

#open-nav {
	cursor:pointer;
	font-size: 30px;
	transition: 0.5s;
}

#close-nav {
	color: white;
	cursor:pointer;
	font-size: 30px;
	transition: 0.5s;
	top: 5px;
	margin-left: 15px;
	
	
}

.links-container {
	display: flex;
	flex-direction: row;
}

#social {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin-left: auto;
	/* border: 1px solid black; */
}

#social .facebook img {
	width: 25px;
	height: auto;
	
	margin-right: 5px;
}

#social .instagram img {
	width: 25px;
	height: auto;
	margin-right: 5px;

}

#current-date {
	display: flex;
	flex-direction: row;
	justify-content: end;
	/* border: 1px solid black; */
	padding: 10px;
}

.flex-row {
	display: flex;
	
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-cols {
	flex-direction: column;
}

.m-15 {
	margin: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-15 {
	margin-top: 15px;
}

.p-15 {
	padding: 15px;
}

.content-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

section {
	
	background-color: #fff;
}

#nav {
	height: 100%; /* 100% Full-height */
	width: 0; 
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
  	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	background-color: #36454f;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#navigation {
	display: none;
}





#nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

#nav a:hover {
	background-color: #708080;
	color: yellow;
}

.content {
	color: #182C61;
}

.content-img {
	height: 300px;
}

.color-scheme {
	height: 200px;
	width: 200px;
	color: #182C61;
	margin: 25px;
	border: 1px solid black;
	
}

.color1 {
	background-color: #2C3A47;
}

.color2 {
	background-color: #F8EFBA;
}

.color3 {
	background-color: #fff;
}

.color4 {
	background-color: #EAB543;
}

.white {
	color: #fff;
}

.paragraph {
	font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.heading1 {
	font-family: 'Great Vibes', Georgia, 'Times New Roman', Times, serif;
	font-size: 44px;
}

.heading2 {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
}

#banner {

	display: none;
	text-align: center;
	color: white;
	background-color:#182C61;
	height: 100px;
}
#banner h2{
	color: white;
	
	align-self:center;
}


section div {
	/* background-color: #cad2d2; */
	/* border: 1px solid black; */
	/* height: 300px; */
	/* padding: 15px; */
	/* margin: 5px; */
}

.hero {
	overflow: hidden;
	position: relative;
	height: 300px;
	text-align: center;

}

.hero-image {
	opacity: 2;
	z-index: 1;
	width: 100%;
	height: auto;
	
}
.overlay {
	position: absolute;
	background-color: black;
	opacity: 0.5;
	width: inherit;
	width: 100%;
	z-index: 2;
	height: 300px;

	
}
.hero-welcome {
	position: absolute;
	color: white;
	z-index: 3;
}

.hero-call {
	position: absolute;
	color: #2C3A47;
	border: 3px solid #2C3A47;
	z-index: 3;
	top: 220px;
}


.news {
	text-align: center;
	background-color: #F8EFBA;
	border: none;
	border-radius: 15px;
	height: auto;
	margin: 25px;
}

.news-title {
	color: #36454f;
}

.spotlight {
	text-align: center;
	border-radius: 15px;
	border: 5px solid #36454f;
	background-color: white;
}

.spotlight-img {
	height: 120px;
}

.callto {
	text-align: center;
	background-color: #EAB543;
	border: none;
	border-radius: 15px;
	height: auto;
	margin: 25px;
}

.callto-btn {
	font-size: 35px;
	text-decoration: none;
	background-color: #4BB543;
	border: 1px solid #2C3A47;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 10px;
	color: white;
}

.event {
	text-align: center;
	border-radius: 15px;
	border: 5px solid #36454f;
	background-color: white;

}

.weather {
	text-align: center;
	border-radius: 15px;
	border: 5px solid #36454f;
	background-color: white;


}

.temperature {
	font-size: 35px;
}

.weather-detail {
	margin-left: auto;
}

.flex-col {

	height: 100%;
}

footer {
	background-color: #4D4D4D;
	color: white;
	
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

footer img {
	border: 1px solid white;
	background-color: white;
	border-radius: 100%;
	height: 125px;
	margin-bottom: 5px;
}

footer h3 {
	color: white;
	margin-bottom: 5px;
}

footer .footer-info {
	text-align: center;
	color: white;
	font-style: italic;
}
footer a {
	margin-bottom: 5px;
	color: white;
	font-style: italic;
}
footer p {
	text-align: center;
	color: white;
}



/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

@media (min-width: 37.5em) {
	header {

		/* padding: 15px; */
		width: 70%;
		margin-left: auto;
    	margin-right: auto;
	}
	nav {
		background-color: #36454f;
		text-align: center;
		display: flex;
		flex-direction: row;
	}
	
	.links-container {
		display: block;
	}
	
	nav div {
		flex: 1 1 auto;
	}
	
	nav a {
		display: block;
		color: #fff;
		text-align: center;
		padding: 15px;
		text-decoration: none;
		font-size: 1.1rem;
	}
	
	nav a:hover {
		background-color: #708080;
		color: yellow;
	}
	
	#open-nav {
		display: none;
	}
	#navigation {
		display: flex;
	}

	main picture {
		display: block;
	}

	header img {
		height: 220px;
		margin-right: 0vw;
	
	}
	header h2 {
		color: #36454f;
		margin-left: 0vw;
	}


	
	

	main {
		grid-template-columns: 1fr 1fr 1fr;

		width: 70%;
		margin-left: auto;
		margin-right: auto;
		height: 90%;
	}

	footer {
		display: flex;
		flex-direction: column;
	}

	

	
}

@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}

	header img {
		height: 220px;
		margin-right: 2vw;
	
	}
	header h2 {
		color: #36454f;
		margin-left: 2vw;
	}
	.flex-col {
		display: flex;
		height: 100%;
	}
	section {
		display: flex;
		flex-direction: column;
	}

	.weather {
		width: 50%;
		margin-right: 5px;
	}
	.spotlight {
		width: 50%;
		margin-left: 5px;
	}

	.event {
		width: 50%;
		margin-left: 5px;
	}


		
	

}