#parent {
    background-color: lightblue;
    height: 800px;
    position: relative;
}

#child {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* FLEX BOX  */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards img {
    margin: 10px;
    border: 3px solid black;
    width: 200px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

nav li {
    list-style: none;
    padding: 20px 51px;
}

nav li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
}

@media screen and (min-width: 900px) {
    nav ul {
        flex-direction: row;
    }
}